@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@if (Model == null)
{
    <div class="alert alert-danger">Student not found.</div>
}
else
{
    <form method="post">
        <input type="text" class="form-control" value="@Model.Name" placeholder="Name" name="Name" />
        <input type="date" class="form-control" value="@Model.Dob.ToString("yyyy-MM-dd")" placeholder="Dob" name="Dob" />
        <input type="text" class="form-control" value="@Model.Cgpa" placeholder="Cgpa" name="Cgpa" />
        <input type="submit" class="btn btn-primary" value="Edit" />
    </form>
}