
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Exam</th>
            <th>Institution</th>
            <th>Board/University</th>
            <th>Result (GPA/CGPA)</th>
            <th>Passing Year</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PSC</td>
            <td>Hogladanga Government Primary School</td>
            <td>Jashore</td>
            <td>5.00</td>
            <td>2011</td>
        </tr>
        <tr>
            <td>JSC</td>
            <td>Akij Collegiate School</td>
            <td>Jashore</td>
            <td>5.00</td>
            <td>2014</td>
        </tr>
        <tr>
            <td>SSC</td>
            <td>Akij Collegiate School</td>
            <td>Jashore</td>
            <td>5.00</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>HSC</td>
            <td>Cantonment College Jashore</td>
            <td>Jashore</td>
            <td>5.00</td>
            <td>2019</td>
        </tr>
        <tr>
            <td>BSc in CSE</td>
            <td>American International University-Bangladesh (AIUB)</td>
            <td>AIUB</td>
            <td>3.89 (Ongoing)</td>
            <td>Expected 2025</td>
        </tr>
    </tbody>
</table>

<hr />

<p><strong>Go to:</strong></p>
<ul>
    <li><a href="/Home/Bio">Bio</a></li>
    <li><a href="/Home/Projects">Projects</a></li>
    <li><a href="/Home/References">References</a></li>
</ul>    