
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<p>Below are some of the projects I've worked on. Click a project to view it:</p>

<ul>
    <li>
        <a href="https://t.me/aiubNotice_bot" target="_blank">
            AIUB Notice Bot
        </a>
    </li>
    <li>
        <a href="https://elvate.vercel.app/" target="_blank">
            Elvate Frontend
        </a>
    </li>
    <li>
        <a href="https://elvate-rest-api.onrender.com/" target="_blank">
            Elvate Backend
        </a>
    </li>
    <li>
        <a href="https://azminur2856.github.io/landing-page/" target="_blank">
            Landing Page
        </a>
    </li>
    <li>
        <a href="https://github.com/azminur2856/WEB-TECHNOLOGIES-PROJECT" target="_blank">
            AgriPro
        </a>
    </li>
    <li>
        <a href="https://github.com/azminur2856/Computer-Graphics-Project-Mountain-View" target="_blank">
            Mountain View
        </a>
    </li>
    <li>
        <a href="https://github.com/azminur2856/OOP-2_Project_Fall_2023-2024_Section-B_Group-01" target="_blank">
            Pastry Shop Management System
        </a>
    </li>
    <li>
        <a href="https://github.com/azminur2856/OOP-1_Project_Fall_2022-2023_Section-D_Group-01" target="_blank">
            Bazar Lagba
        </a>
    </li>
    <li>
        <a href="https://github.com/azminur2856/Registration-Helper-for-BSc-CSE-AIUB-Form" target="_blank">
            AIUB Registration Helper CS
        </a>
    </li>
</ul>

<hr />

<p><strong>Go to:</strong></p>
<ul>
    <li><a href="/Home/Bio">Bio</a></li>
    <li><a href="/Home/Education">Education</a></li>
    <li><a href="/Home/References">References</a></li>
</ul>

