
@{
    ViewBag.Title = "References";
}

<h2>References</h2>

<p>Under development</p>

<hr />

<p><strong>Go to:</strong></p>
<ul>
    <li><a href="/Home/Bio">Bio</a></li>
    <li><a href="/Home/Education">Education</a></li>
    <li><a href="/Home/Projects">Projects</a></li>
</ul>

