@{
    ViewBag.Title = "Index";
    var student = TempData["student"] as Form_Submission.Models.Student;
}

<h2>Index</h2>

@if (student != null)
{
    <div>
        <h3>Student Details</h3>
        <ul>
            @foreach (var prop in student.GetType().GetProperties())
            {
                var value = prop.GetValue(student, null);
                string displayValue;

                if (value is System.Collections.IEnumerable enumerable && !(value is string))
                {
                    var items = new List<string>();
                    foreach (var item in enumerable)
                    {
                        items.Add(item?.ToString());
                    }
                    displayValue = string.Join(", ", items);
                }
                else
                {
                    displayValue = value?.ToString();
                }

                <li><strong>@prop.Name:</strong> @displayValue</li>
            }
        </ul>
    </div>
}
else
{
    <p>No student data found.</p>
}
